@model LeaveRequestVM

@{
    ViewData["Title"] = "Leave Request Details";
    string className;
    string headingText;
    switch (Model.Approved)
    {
        case true:
            headingText = "Approved";
            className = "success";
            break;
        case false:
            headingText = "Rejected";
            className = "danger";
            break;
        default:
            headingText = "Pending";
            className = "warning";
            break;
    }
}

<h1>Leave Request Details</h1>

<div class="alert-@className" role="alert">
    <h4 class="alert-heading">Request @headingText</h4>
    <hr />
    <p>
        <strong>Employee Name: </strong> @Model.Employee?.FirstName @Model.Employee?.LastName
    </p>
    <hr />
    <p>
        <strong>Date Requested: </strong> @Html.DisplayFor(model => model.DateRequested)
    </p>
</div>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestComments)
        </dd>
    </dl>
</div>
<div>
    @if(Model.Approved == null)
    {
        <form asp-action="ApproveRequest">
            <input name="Id" value="@Model.Id" hidden />
            <input name="approved" value="true" hidden />
            <button type="submit" class="btn btn-success">Approve</button>
        </form>
        <form asp-action="ApproveRequest">
            <input name="Id" value="@Model.Id" hidden />
            <input name="approved" value="false" hidden />
            <button type="submit" class="btn btn-danger">Reject</button>
        </form>

    }
    <a asp-action="Index">Back to Leave Requests</a>
</div>
